<section id="section-resort-list">
    <div class= "container">
    
    <h1>Featured Resort</h1>

        <div class="grid grid-gap-1 grid-row-gap-2 grid-col-4">

            <app-resort-item title="Trinidad Hotels" [price]=160 imageName="/assets/img/resort1.webp"></app-resort-item>
            <app-resort-item title="Toronto Hotels" [price]=60 imageName="/assets/img/resort2.webp" ></app-resort-item>
            <app-resort-item title="Japan Hotels" [price]=260 imageName="/assets/img/resort3.webp"></app-resort-item>
        </div>
    </div>

</section>